:root {
    --primery-text-color: #434455;
    --title-text-color: #2E2F42;
    --acent-color: #FFFFFF;
}

.page {
background-color: #FFFFFF;
color:var(--primery-text-color);
}
/* header */
.logo-web {
    color: #4D5AE5;
}
.logo-studio {
   color: #2E2F42; 
}

ul {
    list-style: none;
}

.site-nav .link {
    color: #2E2F42;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: #000000;
}
.addres a {
    color: var(--primery-text-color);
}

/* main */

.hero {
    background: #2E2F42
}

.hero-title {
    color:var(--acent-color);
}
.button {
    background-color: #4D5AE5;
    color: var(--acent-color);
}

.section{

}

.section-subtitle {
    color:var(--title-text-color);
}

.section-title {
    color:var(--title-text-color);
}

.section-team{
    background-color:  #F4F4FD;
}
/* footer */
.footer-text {
    background-color: #2E2F42;
    color: var(--acent-color);
}

  /* PORFOLIO */

  .portfolio {
    background: #E5E5E5;
    color: var(--primery-text-color);
  }
  ul {
    list-style: none;
  }


  .button .active {
    background: #404BBF;
    color: #FFFFFF;
  }

  .filter-button {
    background: #F4F4FD;
    color: #4D5AE5;
  }

.cards-tittle {
    color:var(--title-text-color);

}
  



  /* color-h3:#2E2F42 */
/* color-p-#434455 */

/* main text =434455 */
/* secondarybgd-color=background: #F4F4FD */